script.
    function captchaResponse(str) { window.location.href = "unity:".concat(str); }
h3 pogo-emulator Menu
p TODO: Build this whole darn system... Might be able to fit a pokemon map thing in here...
a(onclick="captchaResponse('exit')" href="#") Click here